@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply uppercase text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl;
}

h2 {
  @apply uppercase text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl;
}

h3 {
  @apply text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl;
}

h4,
a {
  @apply text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl;
}

.navlink {
  background: 
    linear-gradient(currentColor, #0284c7) 
    bottom /var(--d, 0) 3px 
    no-repeat;
  transition: 0.5s;
}

.navlink:hover {
  --d: 100%;
}

.btn {
  @apply bg-neutral-50 text-neutral-900 rounded-lg py-2 px-6 mx-1 cursor-pointer flex justify-center items-center w-32 lg:w-40;
}

.btn-primary {
  @apply hover:bg-sky-600 hover:text-neutral-50;
}

.btn-secondary {
  @apply bg-sky-600 text-neutral-50 hover:bg-neutral-50 hover:text-neutral-900;
}

.contact-navitem {
  @apply flex gap-2 items-center hover:underline;
}

.contact-navitem-span {
  @apply flex gap-2 items-center;
}