@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply uppercase text-4xl;
}

h2 {
  @apply uppercase text-2xl;
}

h3 {
  @apply text-xl;
}

.navlink {
  background: 
    linear-gradient(currentColor, #0284c7) 
    bottom /var(--d, 0) 3px 
    no-repeat;
  transition: 0.5s;
}

.navlink:hover {
  --d: 100%;
}

.btn {
  @apply bg-neutral-50 text-neutral-900 rounded-lg py-1 px-6 mx-1 cursor-pointer;
}

.btn-primary {
  @apply hover:bg-neutral-900 hover:text-neutral-50;
}

.btn-secondary {
  @apply bg-neutral-900 text-neutral-50 hover:bg-neutral-50 hover:text-neutral-900;
}






.contact-navitem {
  @apply 
    flex 
    gap-2 
    items-center 
    hover:underline;
}

.contact-navitem-span {
  @apply 
    flex 
    gap-2 
    items-center;
}