@tailwind base;
@tailwind components;
@tailwind utilities;

.navlink {
  background: 
      linear-gradient(currentColor, #0284c7) 
      bottom /var(--d, 0) 3px 
      no-repeat;
  transition:0.5s;
}

.navlink:hover {
  --d: 100%;
}

.show-nav {
  @apply translate-x-0;
}

.contact-navitem {
  @apply flex gap-2 items-center hover:underline;
}

.contact-navitem-span {
  @apply flex gap-2 items-center;
}